* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

:root {
    --firstColor: #141B41;
    --secColor: #306BAC;
    --thirdColor: #6F9CEB;
    --fourColor: #98B9F2;
    --fifthColor: #918EF4;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--firstColor);
}

.main {
    padding-top: 50px;
}

.main canvas {
    border: solid var(--secColor) 5px;
    cursor: none;
    background-color: white;
}

.layers {
    border: solid var(--secColor) 5px;
    position: absolute;
    width: 200px;
    height: 200px;
    right: 15px;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.tools {
    position: absolute;
    width: 100px;
    left: 5px;
    top: 5px;
    border: solid var(--secColor) 5px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tool img {
    width: 30px;
    filter: invert();
}

.tool {
    margin: 5px;
    padding: 10px;
    background-color: var(--secColor);
    border-radius: 5px;
}

.frames {
    border: solid var(--secColor) 5px;
    position: absolute;
    height: 130px;
    right: 30%;
    left: 30%;
    bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    font-size: 15px;
    background-color: var(--thirdColor);
    padding: 5px;
    border-bottom: solid var(--fifthColor) 5px;
    width: 100%;
    text-align: center;
}

#colorPicker {
    position: absolute;
    left: 15px;
    bottom: 15px;
    border: solid 5px var(--secColor);
    width: 150px;
    height: 200px;
    background-color: var(--fourColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colorPickerCanvas canvas {
    border: none;
    margin: 5px;
    background-color: white;
}

.inputs {
    display: flex;
    flex-direction: row;
    width: 130px;
}